.shameBodyWidth
  section
    p
      | You might as well be telling the robots about your dreams, for all the good it does.
  hr
  h2 1.
  p
    | I really liked this sentence, from 
    a(href='http://booktwo.org/notebook/opinions-are-non-contemporary/', title='Opinions are non-contemporary') James Bridle
    | :
  blockquote
    p … telling someone your opinion is like telling them about your dreams.
  h2 2.
  p
    | We’re not creatures of reason, for the most part, and the terrible extent of our ability to conjure up post-hoc rationalisations is 
    em so
    |  great, 
    em so
    |  enormous, that the very banality of this sentence approaches an infinity. Opinions are contraptions.
  p
    | You’re so irrational, you probably think this sentence is about you (but not really).
  h2 3.
  p
    | I reckon people being paid to make art is 
    em plain weird
    | . In the future, we’ll look back on this period of professional artistry with blank incomprehension.
  h2 4.
  p
    | Other people like the phrase too. When I read it for the first time, there were eight.
  p And when I finished the post, there were 1650.
  p
    | The 1650 results are pretty much the same people, again and again, on Tumblr and Twitter. I seem to follow most of them. There’s no way I could have missed this phrase.
  p
    | I think this probably means something. But, you know, dreams and opinions, like, stuff, you know.
  h2 5.
  p
    | I went to Jamaica once. There was this guy trying to sell me 
    a(href='http://www.medicalmarijuanastrains.com/lambs-breath/', title="Lamb's Breath") Lamb’s Breath
    |  and he had this irritating way of saying things that was even more annoying than young people doing that thing where everything is a question? Everthing was weightily considered, everything was proverbial.
  p
    | I tried to get rid of him with a mild insult. And said something like, “What are you, like, Yoda?” And he asked me who Yoda was.
  p
    | I spent the rest of the evening re-telling the whole of the Star Wars trilogy. It was really cool. It was a bit like 
    a(href='http://www.youtube.com/watch?v=NCBA1wii70o', title='Reign of Fire scene') this scene
    | . 
    sup
      a#fnr1-2014-02-12.footnote(href='#fn1-2014-02-12') 1
  h2 6.
  p
    | James also links to this – Piotr Czerski; 
    em We, the Web Kids
    |  (translated by Marta Szreder). 
    a(href='http://pastebin.com/0xXV8k7k', title='We, the web kids') It’s on Pastebin
    | . Crazy kids!
  blockquote
    p
      | Participating in cultural life is not something out of ordinary to us: global culture is the fundamental building block of our identity, more important for defining ourselves than traditions, historical narratives, social status, ancestry, or even the language that we use. From the ocean of cultural events we pick the ones that suit us the most; we interact with them, we review them, we save our reviews on websites created for that purpose, which also give us suggestions of other albums, films or games that we might like. Some films, series or videos we watch together with colleagues or with friends from around the world; our appreciation of some is only shared by a small group of people that perhaps we will never meet face to face. This is why we feel that culture is becoming simultaneously global and individual. This is why we need free access to it. […]
    p
      | One more thing: we do not want to pay for our memories. The films that remind us of our childhood, the music that accompanied us ten years ago: in the external memory network these are simply memories. Remembering them, exchanging them, and developing them is to us something as natural as the memory of ‘Casablanca’ is to you. We find online the films that we watched as children and we show them to our children, just as you told us the story about the Little Red Riding Hood or Goldilocks. Can you imagine that someone could accuse you of breaking the law in this way? We cannot, either.
  p
    | Given what we know about 
    a(href='http://brainblogger.com/2011/07/14/memory-not-as-good-as-we-think/', title='Memory: not as good as we think') memory
    |  and 
    a(href='http://marginalrevolution.com/marginalrevolution/2012/04/memory-as-a-consumer-durable.html#comments', title='Memory as consumer durable - comments') memories
    |  these days, I’m not sure I see material difference between them and artefacts and opinions.
  p
    | I mean, 
    em obviously
    | , I do. I’m not an idiot. But not so’s I could legislate or write up a decent spec or anything.
  p
    | I couldn’t explain the difference to a machine, for instance. Or to some of the web kids.
  h2 7.
  p
    | Can you imagine a social network built on dreams? I reckon it would be something I’d never use, but simultaneously find the most fascinating thing ever, on that day.
  p It’d start as an iOS app which was half alarm clock, half voicenotes device.
  p
    | When your phone wakes you up in some algorithmically perfect way, a Siri-like prompts you to speak your brains and blurt out your dreams. The dream notes are uploaded. Your phone spits out infographics. You make friends with people who dream like you.
  p
    | People who don’t dream every day find themselves apologising to their phone. Web kids learn it can be hacked and use it to send prayers to celebrities.
  p Dream Scientists learn interesting things despite themselves.
  h2 8.
  p
    | Via 
    a(href='http://waxy.org/links/', title='waxy.org/links') @waxpancakes’ link blog
    |  – 
    a(href='http://www.buzzfeed.com/jcmethven/life-after-a-total-hack', title='Life After A Total Hack') Life After a Total Hack
    |  — “Hacks happen all the time. But what would happen to us if everything got compromised? A short story about the biggest fear you don’t even know you have.”
  blockquote
    p
      strong One Year Later
    p
    p
      | Bud Murray opened the door to find three more boxes. That made the fourth delivery that week. He did not bother to ask his wife, Eileen, if she had ordered the stuff. He already knew from asking that she had not. “Anticipation Shopping” was what the retailers were calling it. Once everyone’s information went public, the general citizenry panicked, but some clever people saw an opportunity. They hired analysts to sift through all the data; based on a person’s spending habits, what they clicked on social media sites, keywords found in their emails and text messages – it was possible to predict with 94 percent accuracy what the person would buy, and approximately when. […]
    p “Heading out to cut the yard?” Eileen asked.
    p “Yup.”
    p “Hot out there. I’ll bring you a lemonade in a bit.”
    p He opened the door. “Make it a beer instead.”
    p “We’re out of beer. But who knows, maybe a box will arrive this afternoon.”
  h2 9.
  p
    | When I worry about the world and machines, it makes me uncomfortable. Because, really, it’s 
    em you
    |  who I’m worried about. I’m okay and the robots will be my friend.
  p But, you? Are you ready?
  h2 10.
  p
    | There’s a lot of things we all know. We know them together, and this is very comforting. Most of us have very good manners.
  p
    | Have you ever seen a parent trying to explain 
    em manners
    |  to their children? They don’t usually bother, if we’re honest about it.
  p Even the funkiest of parents coerce their children into being well-mannered.
  p You can’t coerce machines, not exactly.
  p
    | They’re our slaves, for sure. But you have to explain stuff to them. They’re not like our wilful children, who we can coerce.
  p We’ll have to get good at telling them our opinions.
  hr
  #fn1-2014-02-12.endnote
    p
      span.endnote-number 1
    p
      | This must qualify as one of the 
      em the
      |  prime contenders for the One Scene Wonder (a bit like a one-hit wonder, but for scenes in otherwise deeply mediocre films).
    p.footnote-return
      a.endnote-return(href='#fnr1-2014-02-12') back to post
// .entry-content
