//- .container
article.extensive
  h1 Haec para/doca illi, nos admirabilia dicamus.

  p  This line is exactly 71 characters long and will be used as a baseline.

  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Testing. And testing again.
    i Quid sequatur, quid repugnet, vident.
    a(href='http://loripsum.net/', target='_blank') Duo Reges: constructio interrete.
    |  Si quae forte-possumus. 
    mark Nihilo magis.
    |  Huic mori optimum esse propter desperationem sapientiae, illi propter spem vivere. 
    a(href='http://loripsum.net/', target='_blank') Age sane, inquam.
  h2 Nam si propter voluptatem, quae est ista laus, quae possit e macello peti?
  p
    | Apud ceteros autem philosophos, qui quaesivit aliquid, tacet; Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. 
    mark Nam quid possumus facere melius?
    |  Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; 
    code Non laboro, inquit, de nomine.
    |  Tum, Quintus et Pomponius cum idem se velle dixissent, Piso exorsus est. Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur. At habetur! Et ego id scilicet nesciebam! Sed ut sit, etiamne post mortem coletur?
  p
    | Miserum hominem! Si dolor summum malum est, dici aliter non potest. Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; 
    a(href='http://loripsum.net/', target='_blank') Nam ante Aristippus, et ille melius.
    |  Esse enim quam vellet iniquus iustus poterat inpune. 
    b Eaedem res maneant alio modo.
    |  Potius inflammat, ut coercendi magis quam dedocendi esse videantur. Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.
  pre.
    \nNam interdum nimis etiam novit, quippe qui testificetur ne
    intellegere quidem se posse ubi sit aut quod sit ullum bonum
    praeter illud, quod cibo et potione et aurium delectatione
    et obscena voluptate capiatur.
    Paupertas si malum est, mendicus beatus esse nemo potest,
    quamvis sit sapiens.
  p
    | Quod iam a me expectare noli. Quare conare, quaeso. Earum etiam rerum, quas terra gignit, educatio quaedam et perfectio est non dissimilis animantium. Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Conclusum est enim contra Cyrenaicos satis acute, nihil ad Epicurum. Nunc haec primum fortasse audientis servire debemus. At cum de plurimis eadem dicit, tum certe de maximis. Graccho, eius fere, aequalí? Si mala non sunt, iacet omnis ratio Peripateticorum.
  h3 Res enim se praeclare habebat, et quidem in utraque parte.
  p
    | Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur. 
    a(href='http://loripsum.net/', target='_blank') Summum ením bonum exposuit vacuitatem doloris;
    |  Nos commodius agimus. Graece donan, Latine voluptatem vocant. 
    code Quid adiuvas?
    mark Urgent tamen et nihil remittunt.
    |  Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; 
    b Sed ad bona praeterita redeamus.
    |  At enim sequor utilitatem. 
    i Quod quidem iam fit etiam in Academia.
  ul
    li Quamquam id quidem licebit iis existimare, qui legerint.
    li Naturales divitias dixit parabiles esse, quod parvo esset natura contenta.
    li
      | An dolor longissimus quisque miserrimus, voluptatem non optabiliorem diuturnitas facit?
    li Bonum patria: miserum exilium.
    li Hoc loco tenere se Triarius non potuit.
  blockquote(cite='http://loripsum.net')
    | Vide ne ista sint Manliana vestra aut maiora etiam, si imperes quod facere non possim.
  dl
    dt
      dfn Praeclare hoc quidem.
    dd
      | Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum.
    dt
      dfn Scaevolam M.
    dd Re mihi non aeque satisfacit, et quidem locis pluribus.
    dt
      dfn Perge porro;
    dd Claudii libidini, qui tum erat summo ne imperio, dederetur.
    dt
      dfn Itaque fecimus.
    dd
      | Nec mihi illud dixeris: Haec enim ipsa mihi sunt voluptati, et erant illa Torquatis.
  ol
    li
      | Idem etiam dolorem saepe perpetiuntur, ne, si id non faciant, incidant in maiorem.
    li Videsne quam sit magna dissensio?
aside
  p Bit of text here. And a bit more. Let's see how this goes over the line and makes things go all neat and tidy or will it just break everything and be horrible?
  p Bit of text there.

