header
	
p PostHorse. 

p We ship, shape and do our shopping in the future.

ul
	li: a(href="/text-grid-rhythm-layout") text in a grid 
	li
		a(href="/article") article
		|  (or, extensive text in context)
	li: a(href="/landing") landing page

footer
	h5 Since 2014

